:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--white-color: #ffffff;
	--button-bcg: #f5f4fa;
}

body {
	background-color: #e5e5e5fd;
	color: var(--primary-text-color);

	font-family: roboto, sans-serif;
	letter-spacing: 0.03em;
}

/* это сброс маркеров для всех списков вообще */
ul {
	list-style: none;
}
/* можно через классы .list задавать тот же сброс точек */

.is-hidden {
	display: none;
}

/* LOGO */

.logo {
	font-family: "Raleway", sans-serif;
	color: var(--accent-color);

	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.logo.header {
	color: var(--title-text-color);
	font-size: 26px;
}

.logo.footer {
	color: var(--white-color);
}

/* Site Nav */

.site-nav .link {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

.contacts-nav .link {
	color: var(--primary-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.contacts-nav .link:hover {
	color: var(--accent-color);
}

/* Hero css */

.hero-title {
	color: #ffffff;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.order {
	color: var(--white-color);
	background-color: var(--accent-color);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	display: inline;
	padding: 16px 32px;
	border-radius: 4px;
}

/* Section  and What We Do*/

.section-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

/* Features */

.feature-list .title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.feature-list p {
	font-size: 14px;
	line-height: 1.71;
}

/* Our Team*/

.team-list .title {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	/* text-align: center; */
}

.team-list p {
	font-size: 16px;
	line-height: 1.19;
	/* text-align: center; */
}

.team {
	background-color: var(--button-bcg);
}

/* Buttons */

.buttons button {
	color: var(--title-text-color);
	background-color: var(--button-bcg);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
}

.buttons button:hover,
.buttons button:focus {
	color: var(--white-color);
	background-color: var(--accent-color);
}

/* если несколько кнопок то в главном селекторе выстраивается шрифты и рамки и так далее, а во второстепенных .button.primary .button.secondary - выстраиваются отличающиеся цвета */

/* Portfolio */

.portfolio-list .title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-links a {
	color: var(--primary-text-color);

	font-size: 16px;
	line-height: 1.87;
	text-decoration: none;
}

/* Footer */

.footer-links .address {
	color: #ffffff;

	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
}

.footer-links .title {
	color: rgba(255, 255, 255, 0.6);

	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}
.outer-box {
	width: 200px;
	height: 200px;
	background-color: teal;
}
